body {
    background: #111;
    color: #0f0;
    font-family: monospace;
    text-align: center;
    margin-top: 20px;
}
h1 {
    margin-top: 10px;
    font-size: 2rem;
}

.subtitle {
    margin-bottom: 20px;
    color: #cccccc;
    font-size: 1rem;
}
canvas {
    background: #000;
    border: 2px solid #0f0;
}